<%= turbo_stream_from "global:counter" %>

<div class="flex flex-col text-lg gap-2">
  <p>
    <span>Count:</span>
    <span id="global-count">
      <%= count %>
    </span>
  </p>

  <div class="flex gap-2">
    <%= button_to "+", increment_path, class: "px-8 py-4 text-white bg-black rounded" %>
    <%= button_to "-", decrement_path, class: "px-8 py-4 text-white bg-black rounded" %>
  </div>
</div>
